.header-logo {
    max-width: 150px;
    height: 100px;
}

.header_logo {
    width: 100px;
    float: left;
    display: block;
    margin-top: 4px;
}

.header-button .th-btn {
    margin-left: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

.th-btn.th-icon:after {
    content: '';
    position: relative;
    -webkit-mask-image: url(../img/icon/arrow-right.svg);
    mask-image: url(../img/icon/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: auto;
    mask-size: auto;
    background-color: #FFF;
    width: 15px;
    height: 15px;
    display: block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.th-btn {
    background-color: var(--theme-color);
    color: var(--white-color);
    box-shadow: none;
    border: none;
}

.th-btn:hover {
    background-color: var(--primary-color);
    box-shadow: none;
    border: none;
}

.th-btn:before {
    background-color: var(--primary-color);
}

select, .form-control, .form-select, textarea, input {
    height: 50px;
    padding: 0 20px 0 20px;
    padding-right: 30px;
    border: 1px solid var(--gray-color);
    color: var(--body-color);
    background-color: var(--white-color);
    font-size: 14px;
    width: 100%;
    font-family: var(--body-font);
    font-weight: 400;
    border-radius: 8px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.info-box_text .details p {
    margin-bottom: 0;
    margin-top: 5px;
}

.header-layout1 .main-menu {
    position: relative;
    padding-left: 50px;
}

.header-layout1 .main-menu > ul > li {
    margin: 0px 15px;
}

.testi-area13 {
    background-color: var(--white-color);
}